body {
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

body {
    background-image: url('https://www.meme-arsenal.com/memes/1a188216693798fd4686c1c1f564603e.jpg'); /* Verifique o caminho correto */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.container {
    background: rgba(0, 0, 0, 0.7); /* Fundo preto transparente */
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 100px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    color: white;
    font-size: 22px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

input, select {
    background: rgba(255, 255, 255, 0.8);
}

button {
    background: #ffcc00;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #e6b800;
}
